// fonts
$bodyFont: "Open Sans", sans-serif;
$fancyFont: "Permanent Marker", cursive;
$accentFont: "Oswald", sans-serif;

/* Color Theme Swatches in Hex */
$background-color: #f9f8f8;
$text-color: #0d0106;
$accent-color-1: #8c045a;
$accent-color-2: #f2bd2e;

/* General Settings */
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: $bodyFont;
  color: $text-color;
  background-color: $background-color;
}

body {
}

img {
  width: 100%;
  height: auto;
}

#main-wide {
  max-width: 1000px;
  margin: 0px auto;
}

#main-narrow {
  max-width: 600px;
  margin: 0px auto;
}

a,
a:hover {
  color: $accent-color-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fancyFont;
  color: $accent-color-1;
}

/* Specific Settings */
#header-title {
  font-family: $fancyFont;
  font-size: 65px;
  color: $accent-color-1;

  a {
    color: $accent-color-1;
  }

  a:hover {
    color: $accent-color-1;
    text-decoration: none;
  }
}

#nav-links {
  a {
    color: $accent-color-1;
    font-size: 20px;
    font-family: $accentFont;
  }
  .nav-current-page {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.post-header {
  max-width: 1000px;
  margin: 10px auto;
  text-align: center;

  .post-category {
    color: $accent-color-1;
    text-transform: uppercase;
    font-size: 20px;
    font-family: $accentFont;
  }

  .post-title {
    font-size: 90px;
    color: $accent-color-1;
    font-family: $fancyFont;
    line-height: 1;
  }

  .post-home-link {
    color: $accent-color-1;
    font-family: $fancyFont;
    text-transform: lowercase;
    font-size: 20px;
  }

  .post-snippet {
    color: darkgray;
    font-size: 20px;
  }
}

.feat-img {
  margin: 10px auto 20px auto;
}

#footer-bar {
  background-color: $accent-color-1;
  img {
    height: 30px;
    width: auto;
  }
}
