---
layout: default
---
<div class="post-header">

    <a href="/">
        <p class="post-title">{{ page.title }}</p>
    </a>

    <div class="post-categories">
        {% for category in page.categories %}
        <a href="/category/{{category | slugify }}.html"><span class="post-category">{{category}}</span></a>
        {% unless forloop.last %} • {% endunless %}
        {% endfor %}
    </div>

    <div class="post-snippet">
        {{ page.snippet }}
    </div>

</div>

<div class="feat-img">
    <img src={{ page.featured-image }}>
</div>

<div id="main-narrow">
    <div class='post-author-date'>
        {% assign post = page %}
        <div class="post-byline">
            {% include byline.html %}
        </div>

        <div class="post-dateline">
            {{ page.date | date: "%B %e, %Y" }}
        </div>
    </div>
    <div id="post-body">
        {{ content }}
    </div>

    <div id="masthead">

        {% if page.artists %}
        <h3>Art</h3>
        <p class="contributor">
            {% for artist in page.artists %}
            <a href="/contributor/{{ artist }}.html">{{ artist }}</a>
            {% unless forloop.last %} • {% endunless %}
            {% endfor %}
        </p>
        {% endif %}

        {% if page.copy-editors %}
        <h3>Copy Editing</h3>
        <p class="contributor">
            {% for ce in page.copy-editors %}
            <a href='/contributor/{{ ce }}.html'>{{ ce }}</a>
            {% unless forloop.last %} • {% endunless %}
            {% endfor %}
        </p>
        {% endif %}

        {% if page.technical-editors %}
        <h3>Technical Editing</h3>
        <p class="contributor">
            {% for te in page.technical-editors %}
            <a href="/contributor/{{ te }}.html">{{ te }}</a>
            {% unless forloop.last %} • {% endunless %}
            {% endfor %}
        </p>
        {% endif %}

    </div>

</div>